![Logotipo_Ikiam](https://user-images.githubusercontent.com/72926761/154404041-868188c1-fb66-4243-bf30-bc794a12b2df.png)
# Universidad Regional Amazónica IKIAM
#### Hernández Hurtado Arnoldd Rodrigo
#### Bioinformatica - G01

## T5_Mapa de Ciencia
#### Basado en las sesiones de Visualización de datos y Expresiones resulares. Realice una adaptación de la solución del MAP OF SCIENCE. Se requiere dos adaptaciones para resolver esta actividad:

- #### Buscar bibliografía de un tema de interés propio en la Página Web de PubMed.
- #### Realizar el minado de autores por país (en el ejemplo se encuentra realziado por las ciudades de USA). Para asignar las ubicación geográfica de los centroides de cada país (latitud y longitud), utilice la tabla  Ubicación Geográfica de Países - Google Developer. Así como en la solución de referencia se señalan varias ciudades seleccionadas de USA, en su resolución señale/resalte a los siguientes países: USA, UK, Brazil, China, Australia, Norway.

In [4]:
import re
import csv
import itertools

In [5]:
f = open('data/pubmed-planttissu-set.txt',errors = 'ignore')
files = f.read()

In [6]:
len(files)

40245556

In [7]:
File = re.sub(r"\n\s{6}", " " , files)

In [8]:
My_files = re.findall(r"\,\s[A-Z]+[A-z]{2,11}\.", File)
unique_codes = list(set(My_files))
unique_codes.sort()

In [9]:
a = unique_codes
print(a)

[', ABB].', ', Aberdeen.', ', Acad.', ', Afghanistan.', ', Africa.', ', Agron.', ', Alabama.', ', Algeria.', ', Amarillo.', ', Ames.', ', Amsterdam.', ', Apdo.', ', Appelstr.', ', Argentina.', ', Arizona.', ', Armenia.', ', Australia.', ', Austria.', ', Avda.', ', Bac.', ', Bangladesh.', ', Bari.', ', Basel.', ', Beijing.', ', Belarus.', ', Belgaum.', ', Belgium.', ', Benin.', ', Bldg.', ', Blvd.', ', Bolivia.', ', Bonn.', ', Brasil.', ', Brazil.', ', Brig.', ', Brno.', ', Bul.', ', Bulgaria.', ', Butenandtstr.', ', CAAS.', ', CAS.', ', CEM.', ', CONICET.', ', Calif.', ', California.', ', Cambridge.', ', Cameroon.', ', Cameroun.', ', Can.', ', Canada.', ', Cauerstr.', ', Cep.', ', Cham.', ', Charleston.', ', Chennai.', ', Chile.', ', China.', ', China].', ', Chongqing.', ', Chunyi.', ', Col.', ', Colombia.', ', Colorado.', ', Columbia.', ', Columbus.', ', Congo.', ', Connecticut.', ', Contr.', ', Corrensstr.', ', Corvallis.', ', Croatia.', ', Crta.', ', Cryp.', ', Ctra.', ', Cuba.', ', Cyprus.', ', Czechia.', ', Davis.', ', Delhi.', ', Denmark.', ', Dept.', ', Depto.', ', Div.', ', Domagkstr.', ', Donguibogam.', ', Dpt.', ', Dpto.', ', Ecuador.', ', Edif.', ', Edo.', ', Egypt.', ', Elazig.', ', Engesserstr.', ', England.', ', Erw.', ', Esq.', ', Estonia.', ', Ethiopia.', ', Eucgr.', ', Fac.', ', Faculty.', ', Finland.', ', Firenze.', ', Fla.', ', Florida.', ', France.', ', Freiburg.', ', Fruwirthstr.', ', FtsZ.', ', GCS.', ', GGATT.', ', GSH.', ', Gainesville.', ', Geneva.', ', Georgia.', ', Germany.', ', Ghana.', ', Gov.', ', Govt.', ', Greece.', ', Grenada.', ', Gto.', ', Guangdong.', ', Guangzhou.', ', Guatemala.', ', HKSAR.', ', Hangzhou.', ', Hann.', ', Hebei.', ', Homestead.', ', Honduras.', ', Hubei.', ', Humboldtstr.', ', Hungary.', ', Iceland.', ', Illinois.', ', Illmi.', ', Inc.', ', India.', ', Indonesia.', ', Inst.', ', Iran.', ', Iraq.', ', Ireland.', ', Irving.', ', Israel.', ', Italy.', ', Jacq.', ', Jamaica.', ', Japan.', ', Johannesburg.', ', Jordan.', ', KSA.', ', Kaiserstr.', ', Karst.', ', Kenya.', ', Korea.', ', Kuwait.', ', Kyiv.', ', LLC.', ', LTD.', ', Lab.', ', Latvia.', ', Lebanon.', ', Liebigstr.', ', Lithuania.', ', Loc.', ', Long.', ', Ltd.', ', Luxembourg.', ', MOA.', ', Macedonia.', ', Madison.', ', Madrid.', ', Makkah.', ', Malawi.', ', Malaysia.', ', Mali.', ', Malta.', ', Manipur.', ', Mantova.', ', Maokai].', ', Martinistr.', ', Maryland.', ', Mass.', ', Mauritius.', ', Mexico.', ', Mich.', ', Michigan.', ', Milano.', ', Minist.', ', Minsk.', ', Missouri.', ', Mommsenstr.', ', Moneymaker.', ', Mongolia.', ', Montana.', ', Morocco.', ', Mozambique.', ', Myanmar.', ', Nanning.', ', Nepal.', ', Netherlands.', ', NeuN.', ', NewYork.', ', Nigeria.', ', Nil.', ', Nipponbare.', ', Norway.', ', Nos.', ', OMEGA.', ', Odense.', ', Ohio.', ', Ohnhorststr.', ', Oman.', ', Ont.', ', Oregon.', ', PCNA.', ', PPL.', ', PRC.', ', Pahang.', ', Pakistan.', ', Palermo.', ', Panama.', ', Penang.', ', Pennsylvania.', ', Peru.', ', Philippines.', ', Phong.', ', Pic.', ', Pisa.', ', Poland.', ', Portugal.', ', Poznan.', ', Prof.', ', Prosp.', ', Prov.', ', Pullman.', ', Qatar.', ', Que.', ', ROC.', ', Raleigh.', ', Ramularia.', ', Rawalpindi.', ', Ref.', ', Riverside.', ', Rod.', ', Roma.', ', Romania.', ', Russia.', ', Rwanda.', ', SCK.', ', Salem.', ', Schaenzlestr.', ', Schubertstr.', ', Scotland.', ', Sec.', ', Selangor.', ', Senegal.', ', Serbia.', ', Shanghai.', ', Shillong.', ', Shri.', ', Singapore.', ', Slovakia.', ', Slovenia.', ', Sobemovirus.', ', Sofia.', ', Spain.', ', Staudtstr.', ', Stillwater.', ', Stn.', ', Storrs.', ', Str.', ', Stud.', ', Sudan.', ', Summerb.', ', Sweden.', ', Switzerland.', ', Syria.', ', Syst.', ', TAIWAN.', ', Taipei.', ', Taiwan.', ', Tampa.', ', Tanzania.', ', Tennessee.', ', Tex.', ', Texas.', ', Thailand.', ', Tokyo.', ', Tucson.', ', Tunis.', ', Tunisia.', ', Tunisie.', ', Turkey.', ', UAE.', ', UDSA.', ', USA.', ', USDA.', ', Uganda.', ', Ukraine.', ', Univ.', ', Uppsala.', ', Urbana.', ', Uruguay.', ', Uzbekistan.', ', VEGF.', ', Vanuatu.', ', Venezuela.', ', Vic.', ', Vietnam.', ', Vol.', ', Wallingford.', ', Washington.', ', Weinheim.', ', Wenatchee.', ', Westf.', ', Wisconsin.', ', Wuhan.', ', Xiamen.', ', Yugoslavia.', ', Zhenjiang.', ', Zimbabwe.']

In [53]:
r = unique_codes
r.remove(', Rod.')
r.remove(', Syst.')
r.remove( ', Vic.')
r.remove(', Prof.')
r.remove(', Prov.')
r.remove(', Ref.')
r.remove( ', SCK.')
r.remove(', Sec.')

In [54]:
print(r)

[', Aberdeen.', ', Afghanistan.', ', Africa.', ', Alabama.', ', Algeria.', ', Amsterdam.', ', Argentina.', ', Arizona.', ', Armenia.', ', Australia.', ', Austria.', ', Bangladesh.', ', Beijing.', ', Belarus.', ', Belgaum.', ', Belgium.', ', Bolivia.', ', Brasil.', ', Brazil.', ', Bulgaria.', ', Cameroon.', ', Cameroun.', ', Canada.', ', Charleston.', ', Chennai.', ', Chile.', ', China.', ', China].', ', Chongqing.', ', Colombia.', ', Columbia.', ', Columbus.', ', Congo.', ', Connecticut.', ', Corvallis.', ', Croatia.', ', Cuba.', ', Czechia.', ', Davis.', ', Delhi.', ', Denmark.', ', Domagkstr.', ', Donguibogam.', ', Ecuador.', ', Egypt.', ', Elazig.', ', Engesserstr.', ', England.', ', Estonia.', ', Ethiopia.', ', Faculty.', ', Finland.', ', Firenze.', ', Fla.', ', Florida.', ', France.', ', Freiburg.', ', Fruwirthstr.', ', Gainesville.', ', Geneva.', ', Georgia.', ', Germany.', ', Ghana.', ', Gov.', ', Govt.', ', Greece.', ', Grenada.', ', Gto.', ', Guangdong.', ', Guangzhou.', ', Guatemala.', ', HKSAR.', ', Hangzhou.', ', Hann.', ', Hebei.', ', Homestead.', ', Honduras.', ', Hubei.', ', Humboldtstr.', ', Hungary.', ', Iceland.', ', Illinois.', ', Illmi.', ', Inc.', ', India.', ', Indonesia.', ', Inst.', ', Iran.', ', Iraq.', ', Ireland.', ', Irving.', ', Israel.', ', Italy.', ', Jacq.', ', Jamaica.', ', Japan.', ', Johannesburg.', ', Jordan.', ', KSA.', ', Kaiserstr.', ', Karst.', ', Kenya.', ', Korea.', ', Kuwait.', ', Kyiv.', ', LLC.', ', LTD.', ', Lab.', ', Latvia.', ', Lebanon.', ', Liebigstr.', ', Lithuania.', ', Loc.', ', Long.', ', Ltd.', ', Luxembourg.', ', MOA.', ', Macedonia.', ', Madison.', ', Madrid.', ', Makkah.', ', Malawi.', ', Malaysia.', ', Mali.', ', Malta.', ', Manipur.', ', Mantova.', ', Maokai].', ', Martinistr.', ', Maryland.', ', Mass.', ', Mauritius.', ', Mexico.', ', Mich.', ', Michigan.', ', Milano.', ', Minist.', ', Minsk.', ', Missouri.', ', Mommsenstr.', ', Moneymaker.', ', Mongolia.', ', Montana.', ', Morocco.', ', Mozambique.', ', Myanmar.', ', Nanning.', ', Nepal.', ', Netherlands.', ', NeuN.', ', NewYork.', ', Nigeria.', ', Nil.', ', Nipponbare.', ', Norway.', ', Nos.', ', OMEGA.', ', Odense.', ', Ohio.', ', Ohnhorststr.', ', Oman.', ', Ont.', ', Oregon.', ', PCNA.', ', PPL.', ', PRC.', ', Pahang.', ', Pakistan.', ', Palermo.', ', Panama.', ', Penang.', ', Pennsylvania.', ', Peru.', ', Philippines.', ', Pisa.', ', Poland.', ', Portugal.', ', Poznan.', ', Pullman.', ', Qatar.', ', Que.', ', Raleigh.', ', Ramularia.', ', Rawalpindi.', ', Riverside.', ', Roma.', ', Romania.', ', Russia.', ', Rwanda.', ', Salem.', ', Schaenzlestr.', ', Schubertstr.', ', Scotland.', ', Selangor.', ', Senegal.', ', Serbia.', ', Shanghai.', ', Shillong.', ', Singapore.', ', Slovakia.', ', Slovenia.', ', Sobemovirus.', ', Spain.', ', Staudtstr.', ', Stillwater.', ', Storrs.', ', Str.', ', Stud.', ', Sudan.', ', Summerb.', ', Sweden.', ', Switzerland.', ', Syria.', ', TAIWAN.', ', Taipei.', ', Taiwan.', ', Tampa.', ', Tanzania.', ', Tennessee.', ', Tex.', ', Texas.', ', Thailand.', ', Tokyo.', ', Tucson.', ', Tunis.', ', Tunisia.', ', Tunisie.', ', Turkey.', ', UAE.', ', UDSA.', ', USA.', ', USDA.', ', Uganda.', ', Ukraine.', ', Univ.', ', Uppsala.', ', Urbana.', ', Uruguay.', ', Uzbekistan.', ', VEGF.', ', Vanuatu.', ', Venezuela.', ', Vietnam.', ', Wallingford.', ', Washington.', ', Weinheim.', ', Wenatchee.', ', Westf.', ', Wisconsin.', ', Wuhan.', ', Xiamen.', ', Yugoslavia.', ', Zhenjiang.', ', Zimbabwe.']

In [57]:
a = "".join(unique_codes)
b = a.split(", ")
c = "".join(b)
unique_zipcodes = c.split(".")

In [58]:
print(unique_codes[:20])

[', Aberdeen.', ', Afghanistan.', ', Africa.', ', Alabama.', ', Algeria.', ', Amsterdam.', ', Argentina.', ', Arizona.', ', Australia.', ', Austria.', ', Bangladesh.', ', Beijing.', ', Belarus.', ', Belgaum.', ', Belgium.', ', Bolivia.', ', Brasil.', ', Brazil.', ', Bulgaria.', ', Cameroon.']

In [59]:
len(unique_zipcodes)

254

In [64]:
import pandas as pd
Coordenadas = pd.read_csv('data/data_Coordenadas.csv', engine='python', skipfooter=3)
Coordenadas.columns = ["ID País", "Latitud", "Longitud", "Nombre"]
Coordenadas.head(10)

  ID País    Latitud   Longitud                Nombre
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla
5      AL  41.153332  20.168331               Albania
6      AM  40.069099  45.038189               Armenia
7      AN  12.226079 -69.060087  Netherlands Antilles
8      AO -11.202692  17.873887                Angola
9      AQ -75.250973  -0.071389            Antarctica